<!DOCTYPE html>
<html lang="es">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Sharepoint Office 365</title>
    <link rel="stylesheet" type="text/css" href="../css/default.css">
    <script type="text/javascript" src="../src/util.js"></script>
    <script type="text/javascript" src="../src/oauth2.js"></script>
  </head>
  <body>
    <div class="screen">
      <div>
        <div class="action">
          <button id="btn-action">Conectar</button>
        </div>
      </div>
      <div>
        <div class="add-folder">
          <form name="form-add-folder" onsubmit="return false;">
            <label for="folder-name">Nombre carpeta</label>
            <input type="text" id="folder-name" name="folder-name" placeholder="Nueva carpeta">
            <input type="submit" name="btn-create-folder" value="Crear">
          </form>
        </div>
        <div class="send-file">
          <form name="form-send-file" onsubmit="return false;">
            <label for="file-name">Nombre</label>
            <input type="file" id="file-name" name="file-name">
            <input type="submit" name="btn-send-file" value="Enviar">
          </form>
        </div>
        <div class="data"></div>
      </div>
    </div>
    <script type="text/javascript">
      var lastFolderId;
      var oauth2;

      function createNode(parent) {
        var ul = parent.querySelector('ul');
        if (!ul) {
          ul = document.createElement('ul');
          parent.innerHTML = '';
          parent.appendChild(ul);
        } else {
          ul.innerHTML = '';
        }
        return ul;
      }

      function createList(ul, data) {
        var self = this;
        data.forEach(function(item) {
          var li = document.createElement('li');
          li.className = 'li-container';
          li.dataset.id   = item["id"];
          li.dataset.type = item["type"].toLowerCase();
          li.dataset.name = item["name"];
          var header = document.createElement('div');
          header.className = 'li-header';
          var body = document.createElement('div');
          body.className = 'li-body';
          body.style.display = 'none';
          li.appendChild(header);
          li.appendChild(body);

          var icon  = document.createElement('span');
          icon.className = 'li-'+item["type"].toLowerCase();
          var title = document.createElement('span');
          title.appendChild(document.createTextNode(item["name"]))
          header.appendChild(icon);
          header.appendChild(title);

          if (item["type"].toLowerCase() === 'file') {
            var del = document.createElement('span');
            del.dataset.id = item["id"];
            del.appendChild(document.createTextNode('Eliminar'));
            header.appendChild(del);
            del.onclick = function() {
              self.delFile(this.id);
            }
          }

          icon.onclick = title.onclick = function() {
            var li   = this.parentNode.parentNode;
            var id   = li.dataset.id;
            var name = li.dataset.name;
            var body = li.querySelector('.li-body');
            body.style.display = '';
            body.innerHTML = '';

            if (li.dataset.type === 'file') {
              self.getDownload(id, name);
              return;
            }

            lastFolderId = id;

            self.getChildren(id)
                .then(function(data) {
                  var ul = createNode(body);
                  createList.call(self, ul, data.value);    
                });
          }

          ul.appendChild(li);
        });
      }

      function fnConnect() {
        oauth2 = new Oauth2('sharepoint');
       /* oauth2.setting(
          {
            'client_id':     'c8521d2b-f57d-4e9f-aa5c-9b7c8824fd6d',
            'client_secret': 'Y52jyW+dHig6JcC8QazLmR2e3+dHlGCIVEaxIE2pgDg=',
            'redirect_uri':  'http://localhost:8080/response',
            'access_token':  'accessToken/',
            'refresh_token': 'refreshToken/'
          }
        );arguments
        oauth2.setting(
          {
            'client_id':     'a15ebaf4-cd99-4fc3-8b46-34ee2d29a6a7',
            'client_secret': 'SfOpD+o/ppgQg97+RG54d89QahHc3OE3cNpcx89EqPE=',
            'redirect_uri':  'http://localhost:8080/response',
            'access_token':  'accessToken/',
            'refresh_token': 'refreshToken/'
          }
        );*/
        oauth2.setting(
          {
            'client_id':     'a15ebaf4-cd99-4fc3-8b46-34ee2d29a6a7',
            'client_secret': 'lRw7pPhKuWRMjK3dHHQ0KI2hl5YNVS4HDohherUCouE=',
            'redirect_uri':  'http://localhost:8080/response',
            'access_token':  'accessToken/',
            'refresh_token': 'refreshToken/'
          }
        );
        oauth2.getToken('https://spwzb27rov2c3sm.eastus2.cloudapp.azure.com/')
          .then(
            function() {
              this.getRoot()
                  .then(function(data) {
                    var ul = createNode(document.querySelector('.data'));
                    createList.call(this, ul, [data]);    
                  });
            }
          );
      }

      +function() {
        var scr = document.querySelector('.screen');
        scr.style.width  = window.innerWidth  + 'px';
        scr.style.height = window.innerHeight + 'px';

        var act = document.querySelector('.action');

        var btn = document.querySelector('#btn-action');
        btn.style.left = (getWidth(act) /2 - getWidth(btn) /2) + 'px';
        btn.style.top  = (getHeight(act)/2 - getHeight(btn)/2) + 'px';

        btn.addEventListener('click',fnConnect);

        var submit = document.querySelector('input[name=btn-create-folder]');
        submit.onclick = function() {
          var name = document.querySelector('#folder-name').value;
          oauth2.createFolder(lastFolderId, name)
                .then(function() { console.debug(arguments); })
                .else(function() { console.debug(arguments); });
        }

        var submit2 = document.querySelector('input[name=btn-send-file]');
        submit2.onclick = function() {
          var file = document.querySelector('#file-name').files[0];
          oauth2.sendFile(lastFolderId, file.name, file);
        }
      }();
    </script>
  </body>
</html>